<head>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
<link href='/style.css' rel='stylesheet'>
</head>

<body>
<div class="middle">
  <div class="card">
    <img src="/profile.jpg">


<h1>
  Hello World!
</h2>
<p>
  My name is Marjon Siero <br>and I am at <a href='http://www.ironhack.com' target='_blank'>Ironhack</a>
</p>

<div class="box">
  WEBSITE: <a href="http://mjon.design">MJON.DESIGN</a>
</div>


</div>
<%= Date.today %>
<% Date.today %> <!-- will be evaluated but not rendered -->

<% if 1 == 2 %>
  <h3>1 equals 2??</h3>
<% else %>
  <h3 style="font-family: 'Open Sans';">We are safe, 1 does not equal 2</h3>
<% end %>
</div>
</body>
