<h1 style="font-family: 'Open Sans'; color: #73C6B6;" >
The time is <%= @hours %> <br>
The time minus 5 hours is <%= @hours - (5*60*60) %><br>
The time minus 7 hours is <%= @hours - (7*60*60) %>
</h1>
