<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <script src="https://use.fontawesome.com/932dea43d4.js"></script>
</head>
<body>
  <div class="top-row">
    <h1><i class="fa fa-user" aria-hidden="true"></i> Contact details</h1>
  </div>
  <div class="content-wrapper">
    <div class="contact-card">
      <strong class="title"><%= @contact.name %></strong><br>
      <%= @contact.address %><br>
      <%= @contact.phone_number %><br>
      <%= @contact.email %><br>
    </div>
  </div>
</body>
