<a href="../users">Users</a>

<h1>Products</h1>
<!-- <p>Products will be listed here</p> -->
<ul>
  <% @products.each do |product| %>
    <li><strong class="title">
      Title: <%= product.title %></strong><br>
      Description: <%= product.description %><br>
      Bidding ends: <%= product.enddate %>
      ID: <%= product.id %></li>
  <% end %>
 </ul>
