<h1>Result</h1>
<p>Text input: <%= @text %></p>
<p>Word count: <%= @word_count %></p>
<p>Estimated reading time: <%= @reading_time %> minutes</p>
<p>Word frequency: <%= @count_words %></p>
<br><br>
<a href="../">Home</a>
