// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1 {
  margin: 0;
}

form {
  margin-top: 20px;
}

li {
  margin-bottom: 10px;
}

input {
  height: 20px;
  width: 260px;
  margin-bottom: 20px;
}
textarea {
  height: 60px;
  width: 260px;
  margin-bottom: 20px;
}

button {
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
  background-color: #E4554F;
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #e14741;
}

.detail-button {
  padding: 10px 20px;
  margin-bottom: 30px;
  width: 120px;
  font-size: 12px;
  background-color: #88d0c7;
  text-align: center;
  border: none;
  cursor: pointer;
}

.detail-button a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}

.detail-button:hover {
  background-color: #43a89c;
}

.top-row {
  width: 100%;
  background-color: #88d0c7;
  color: #fff;
  padding: 10px;
}

.content-wrapper {
  padding: 20px;
}

.title {
  color: #E4554F;
}
