// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

form {
  margin-top: 20px;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

input {
  height: 20px;
  width: 260px;
  margin-bottom: 20px;
}
textarea {
  height: 60px;
  width: 260px;
  margin-bottom: 20px;
}

button {
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
  background-color: #E4554F;
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #e14741;
}

.nav-button {
  padding: 10px 20px;
  margin-bottom: 30px;
  width: 120px;
  font-size: 12px;
  background-color: #E4554F;
  text-align: center;
  border: none;
  cursor: pointer;
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}


.nav-button:hover {
  background-color: #e14741;
}

.detail-button {
  padding: 10px 20px;
  margin-bottom: 30px;
  width: 160px;
  font-size: 12px;
  background-color: #88d0c7;
  text-align: center;
  border: none;
  cursor: pointer;
}

.detail-button a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}

.detail-button:hover {
  background-color: #43a89c;
}

.top-row {
  width: 100%;
  background-color: #88d0c7;
  color: #fff;
  padding: 20px;
  box-shadow: 0 2px 15px rgba(19,21,26,0.1);
}

.content-wrapper {
  padding: 20px;
}

.title {
  color: #E4554F;
}

.contact-card {
  background-color: #f2f2f2;
  margin: 0 auto;
  margin-top: 40px;
  padding: 60px 60px 40px;
  border-radius: 8px;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: top;
  box-shadow: 0 2px 15px rgba(19,21,26,0.2);
}

.img-col img {
  max-width: 100px;
  border-radius: 50%;
}

.details-col {
  margin-left: 40px;
}
